.map-container > #map {
    width: 100%;
    height: 100%;
}

table {
    width: 100%;


    tbody {
        width: 100%;
        // overflow-y: auto;
        // overflow-x: hidden;
        // display: inline-block;
        max-height: 35em;

        > th {
            position: sticky;
        }
    }
    tbody tr td {
        background-color: var(--color4);
        height: 3em;

        mygrid {
            width: 100%;
            padding: 3px;
            padding-left: 10px;
            align-items: center;
            justify-content: center;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 1fr;

            #A {
                color: var(--color0);
                font-size: 1.5rem;
            }

            #B, #C, #D { color: var(--color3); }
            #B, #D { text-align: center; }

            #C, #D { font-size: 0.5rem; }
        }

        &:hover {
            background-color: var(--color3);
            
            #A, #B, #C, #D {
                color: var(--color4);
            }
            
        }

    }

    .complete #B {
        color: var(--green);
    }
}

.grid-main {
    margin-top: 2em;
    display: grid;
    height: 35em;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 10px;

    h1 { text-align: center; }
}