#table-container {
  max-height: 300px;
}

tbody {
  overflow-y: auto;
  display: block;
  max-height: 20em;
}

thead {
  width: 100%;
}

tbody tr {
  display: table;
  width: 100%;
}
/* the table itself */
.table-small {
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 2px var(--color4);
}
/* header */
.table-small thead tr {
  background-color: var(--color4);
  color: var(--color1);
  text-align: left;
  font-weight: bold;
}

.table-small tbody {
  overflow-x: hidden;
  height: 20em;
}
/* header cols */
.table-small thead tr th {
  border-top: 2px solid var(--color4);
  padding: 5px;
  padding-left: 14px;
  border-bottom: 0px;
  margin-bottom: 0px;
}
/* rows */
.table-small td {
  text-transform: uppercase;
}

/* even rows (from 0) */
.table-small tbody tr:nth-of-type(even) {
  background-color: var(--color1);
}
/* last row, last head row */
.table-small tbody tr:last-of-type,
.table-small thead tr:last-of-type {
  border-bottom: 2px solid var(--color4);
}
/* body row: hover */
.table-small tbody tr:hover {
  background-color: var(--color4);
  color: white;
}
/* last column */
.table-small thead tr th:last-child,
.table-small tbody tr td:last-child {
  width: 40%;
}

/* highlight table row text */
#table-container > table > tbody > tr > td {
  cursor: pointer;
  transition: all 0.25s ease-out;
}
