#table-container {
  max-height: 300px;
}

tbody {
  overflow-y: auto;
  display: block;
  max-height: 18em;
}

thead {
  width: 100%;
}

tbody tr {
  display: table;
  width: 100%;
}
/* the table itself */
.table-small {
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
/* header */
.table-small thead tr {
  background-color: var(--color-pri);
  color: var(--color-text-bright);
  text-align: left;
  font-weight: bold;
}

.table-small tbody {
  overflow-x: hidden;
  height: 300px;
}
/* header cols */
.table-small thead tr th {
  border-top: 2px solid var(--color-pri);
  padding: 5px;
  padding-left: 14px;
  border-bottom: 0px;
  margin-bottom: 0px;
}
/* rows */
.table-small td {
  text-transform: uppercase;
}

/* even rows (from 0) */
.table-small tbody tr:nth-of-type(even) {
  background-color: var(--color-text-bright);
}
/* last row, last head row */
.table-small tbody tr:last-of-type,
.table-small thead tr:last-of-type {
  border-bottom: 2px solid var(--color-pri);
}
/* body row: hover */
.table-small tbody tr:hover {
  background-color: var(--color-pri);
  color: white;
}
/* last column */
.table-small thead tr th:last-child,
.table-small tbody tr td:last-child {
  width: 40%;
}

/* highlight table row text */
#table-container > table > tbody > tr > td {
  cursor: pointer;
  transition: all 0.25s ease-out;
}

/*right arrow, placed before text*/
.header .sign::before {
  content: " ";
  display: inline-block;
  /* this isn't an actual arrow. it uses border shading */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /* triangle is same color as table row text color */
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

/* down arrow, placed before text */
.header.expand .sign::before {
  content: " ";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
