.tabs {
    position: relative;
    margin: auto 0;
    width: 200px;
    height: 50px;
    color: var(--color-text-bright);
    background: var(--color-pri);
    border-radius: 8px 8px 0px 0px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.tabs a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;

    display: inline-block;
    text-align: center;

    width: 100px;
}

.tabs.animation {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    z-index: 0;
    background: var(--color-text-bright);
}
